body{
  margin:0;
  background:#111;
  color:#fff;
  font-family:Arial;
}

/* HEADER */
.admin-header{
  display:flex;
  flex-direction:column;
  gap:4px;
  padding:8px 10px;
}

/* TITLE */
.admin-title{
  font-size:1.84rem;
  margin:0;
  color:orange;
}

/* RED PILL MAINTENANCE */
.maintenance-pill{
  display:inline-flex;
  align-items:center;
  justify-content:space-between;
  gap:8px;

  background:#e53935;
  padding:4px 8px;
  border-radius:14px;

  font-size:11px;
  width:fit-content;
}

.pill-toggle{
  background:#2e7d32;
  border:none;
  color:#fff;
  padding:2px 6px;
  font-size:10px;
  border-radius:10px;
}

/* ACTION BUTTONS */
.admin-actions{
  display:flex;
  flex-wrap:wrap;
  gap:6px;
}

button{
  border:none;
  padding:6px 10px;
  border-radius:6px;
  color:#fff;
  font-size:12px;
}

.btn-green{background:#2e7d32;}
.btn-blue{background:#3f51b5;}
.btn-purple{background:#8e24aa;}
.btn-brown{background:#6d4c41;}
.btn-gray{background:#555;}
